@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&family=Signika+Negative:wght@300;400&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    /* font-family: 'Signika Negative', sans-serif; */
    font-family: 'Mali', cursive;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

body{
    background-color: black;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 950px;
}

body::before{
    content: "";
    position: absolute;
    background-image:url(https://cdn.discordapp.com/attachments/1033371250397032489/1065297225116299354/Renegade-W_-_Edited.png);
    background-size: cover;
    height: 950px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    filter: blur(3px);
}

.main{
    position: absolute;
}

/* ---------------------- section ---------------------- */

section .sec1{
    font-size: 30px;
}

.sec1{
    margin-top: 20px;
    margin-left: 20px;
}

.sec2{
    margin-top: 50px;
}

.sec3{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec3 img{
    width: 20%;
    max-width: 180px;
    margin: 0;
}

#ex{
    width: 50%;
    max-width: 320px;
}

/* ---------------------- section ---------------------- */



/* ---------------------- element (?) ---------------------- */

video {
    display: flex;
    align-items: center;
    width: 55%;
    border-style: dotted;
    border-width: 3px;
    border-color: red;
}

/* ---------------------- element (?) ---------------------- */

.text{opacity: 1;}
.stand { position: absolute; right: 5px; bottom: 5px; }
canvas { position: absolute; right: 5px; bottom: 5px;}