@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jersey+10&display=swap');

*{
    /* color: black; */
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1{
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    font-size: 4rem;
    margin-bottom: 3dvw;
}

.container{
    margin-top: 3rem;
}

.menu{
    width: 50%;
}

.menu p{
    font-family: "Exo 2", sans-serif;
    font-size: 1.5rem;
}

img{
    position: absolute;
    /* float: right; */
    right: 0;
    bottom: 0;
}
