@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jersey+10&display=swap');

*{
    /* color: black; */
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cer-card{
    margin-bottom: 2rem;
}

a{
    cursor: pointer;
    text-decoration: none;
}

img{
    border-radius: 10px;
    /* max-width: 30vw; */
    width: 30dvw;
    min-width: 300px;
}

h1{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: "Jersey 10", sans-serif;
    color: white;
    font-size: 4rem;
}

h2{
    font-family: "Exo 2", sans-serif;
    color: white;
    /* font-weight: bold; */
    font-size: x-large;
}
